<%= turbo_frame_tag("subtotal_frame") do %>
  <section class="subtotal" id="subtotal">
    <div class="text-2xl font-bold mx-4">
      <span>Current Tickets Purchased: &nbsp;</span>
      <span data-cy="ticketsPurchased">
        <%= Ticket.user_for_concert(concert.id, user&.id).count %>
      </span>
    </div>
    <div class="text-2xl font-bold mx-4">
      <span>Current Tickets Cost: &nbsp;</span>
      <span data-cy="ticketCost">
        <%= Ticket.user_for_concert(concert.id, user&.id).count * 15 %>.00
      </span>
    </div>
    <div class="<%= SimpleForm.button_class %> w-48 font-bold"
       data-cy="clearButton"
       data-controller="clear-all"
       data-clear-all-hidden-id-value="tickets_to_buy_count"
       data-action="click->clear-all#submit">
      <%= form_with(
            url: clear_all_tickets_url,
            method: "delete",
            data: {"clear-all-target": "form"}
          ) do |f| %>
        <%= hidden_field_tag(:concert_id, concert.id) %>
        <%= hidden_field_tag(
              "tickets_to_buy_count",
              "",
              id: "clear_all_tickets_count",
              data: {"clear-all-target": "hiddenField"}
            ) %>
        Clear Tickets
      <% end %>
    </div>
  </section>
<% end %>
